.wrapper-for-login-up{
    width: 400px;
    height: 420px;
    margin: 0 auto;
    border: 5px solid #F0C52E;/*#FAEB80*/
}

.label-log-up
{
    width: 90%;
    height: 30px;
    margin-bottom: 25px;
    
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    text-transform: uppercase;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 3.6px;
}
.l-login-password
{
    width: 90%;
    padding-bottom: 5px;
    
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}
.l-login-password-margin{
    margin-bottom: 20px;
}
input[type="text"]{
    width: 98%;
 }
input[type="password"]{
    width: 98%;
}
input[type="email"]{
    width: 98%;
}
.forgot-password{
    width: 90%;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 0px;
    
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.knopka-flex
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    margin: 0;
    width: 100%;
    height: auto;
    margin-top: 20px;
}
